<div class="exercise1">
h1 {
color: red;
}

p {font-family:Helvetica;
size:16px;
color:blue;
}

ul li{
  background:yellow;
  }

  h2{color:green;
  background:orange;}

  li{background-color: pink;
  }

<div class="'color-info'"{
  border: 4px;

  }
  </div>
